* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(178deg, #000000c2, black);
    color: white;
    overflow-x: hidden;
}

img {
    border-radius: 4px;
}


.movie-list {
    width: 100vw;
    overflow: hidden;
}

.movie-list img {
    width: 200px;
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;
}

.movie-list img:hover {
    transform: scale(1.05);
}

.movie-name {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    background: none !important;
}

.movie-title {
    bottom: 20px;
    left: 20px;
    width: 100vw;
    width: 180px;

}

.heading {
    color: #ffffff;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.release-date {
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}


.mouse {
    cursor: pointer;
}




/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}



#FullScreen {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    overflow: auto;
    margin-top: -10vh;
}

#FullScreen img {
    width: 123px;
    height: 179px;
    flex-shrink: 0;
    /* margin-bottom: 40px; */
    transition: transform 0.3s ease-in-out;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px black;
}

#FullScreen img:hover {
    /* position: relative; */
    transform: scale(1.7);
    z-index: 10000;
    margin: 0px 60px;
    bottom: 134px;
}

#FullScreen .movie-title-2 {
    bottom: 20px;
    left: 20px;
    width: 100vw;
    width: 220px;
    z-index: 10000;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    transition: scale(1) 0.6s ease-in-out;
}


.Header,
.NowPlayingMoviesList {
    height: 10vh;
    z-index: 10;
    width: 100%;
    position: sticky;
    top: 0;
    background: linear-gradient(180deg, black, #00000003);
}

a {
    position: relative;
    color: white;
    text-decoration: none;
}

a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    /* Adjust the thickness of the underline */
    background-color: white;
    transition: width 0.3s ease;
    /* Adjust the duration and easing as needed */
}

a:hover::before {
    width: 100%;
}


.movie-title-3 {
    bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.learn-more {
    border-radius: 50px;
    background: #AB0A10;
    display: flex;
    width: 132px;
    padding: 8px 25px;
    align-items: center;
    gap: 10px;
    color: white;
    margin-top: 20px;
}

.SelectedMovie {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
}

.videos {
    display: flex;
    flex-wrap: wrap;
}

.videos .videos-iframe:hover {
    transform: scale(1.2);
    /* Adjust as needed for zoom effect */
}

input {
    background: none;
    color: white;
    outline: none;
    border: none;
    border-bottom: 2px solid;
}


.connect-link {
    cursor: pointer;
    margin: 8px;
}